@{
    Layout = "~/Views/Shared/_TeledataTheme.cshtml";
    ViewBag.Title = "Edit Data Pakaian";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<button class="k-button k-button-icontext" id="btnBack">
    <span class="k-icon k-i-arrow-w"></span>Kembali
</button>
&nbsp;
<button class="k-button k-button-icontext" id="btnSave">
    <span class="k-icon k-i-tick"></span>Simpan
</button>
<hr />

@Html.Hidden("hiddenId")

Nama:<br />
@Html.TextBox("txtName", "", new { @class = "td", style = "width : 320px" })
<br /><br />

Deskripsi:<br />
@Html.TextBox("txtDescription", "", new { @class = "td", style = "width : 320px" })
<br /><br />

Kategori Pakaian:<br />
@(Html.Kendo().ComboBox()
        .Name("cmbGarmentCategory")
        .DataTextField("Display")
        .DataValueField("Key")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetGarmentCategory", "Create");
            });
        })
        .HtmlAttributes(new { style = "width:300px" })
        .Filter(FilterType.Contains)
        .Suggest(true)
        .Placeholder("-Select value-"))
<script>
    $(document).ready(function () {
        GetData("@ViewBag.Id");
    });

    function GetData(id)
    {
        $.ajax({
            url: '@Url.Action("GetData")', type: "GET", dataType: "json",
            data: {
                id: id,
            },
            success: function (data) {
                if (data.success == false) {
                    alertify.alert(data.message);
                    return;
                }
                document.getElementById('hiddenId').value = data.Id;
                $("#cmbGarmentCategory").data("kendoComboBox").value(data.GarmentCategory);
                document.getElementById('txtName').value = data.Name;
                document.getElementById('txtDescription').value = data.Description;
            },
            error: function () { alertify.alert("Application error. Please try again."); }
        });
    }

    $("#btnSave").bind("click", function () {
        $.ajax({
            url: '@Url.Action("Edit")', type: "POST", dataType: "json",
            data: {
                id: document.getElementById('hiddenId').value,
                garmentCatId: $("#cmbGarmentCategory").data("kendoComboBox").value(),
                name: document.getElementById('txtName').value,
                description: document.getElementById('txtDescription').value
            },
            success: function (data) {
                if (data.success == false) {
                    alertify.alert(data.message);
                    return;
                }
                window.location.href = "/GarmentData/Index";
            },
            error: function () { alertify.alert("Application error. Please try again."); }
        });
    });

    $("#btnBack").bind("click", function () {
        window.location.href = "/GarmentData/Index";
    });
</script>