@{
    Layout = "~/Views/Shared/_TeledataTheme.cshtml";
    ViewBag.Title = "Cabang Baru";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<button class="k-button k-button-icontext" id="btnBack">
    <span class="k-icon k-i-arrow-w"></span>Kembali
</button>
&nbsp;
<button class="k-button k-button-icontext" id="btnSave">
    <span class="k-icon k-i-tick"></span>Simpan
</button>
<hr />

Nama:<br />
@Html.TextBox("txtName", "", new { @class = "td", style = "width : 320px" })
<br /><br />

Note:<br />
@Html.TextArea("txtNote", "", new { @class = "td", style = "width : 320px" })
<br /><br />

Jenis Cabang:<br />
@(Html.Kendo().ComboBox()
        .Name("cmbBranchType")
        .DataTextField("Display")
        .DataValueField("Key")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetBranchType", "Create");
            });
        })
        .HtmlAttributes(new { style = "width:300px" })
        .Filter(FilterType.Contains)
        .Suggest(true)
        .Placeholder("-Select value-"))
<script>
    $("#btnSave").bind("click", function () {
        openLoading();
        $.ajax({
            url: '@Url.Action("Create")', type: "POST", dataType: "json",
            data: {
                name: document.getElementById('txtName').value,
                note: document.getElementById('txtNote').value,
                branchId: $("#cmbBranchType").data("kendoComboBox").value()
            },
            success: function (data) {
                if (data.success == false) {
                    closeLoading();
                    alertify.alert(data.message);
                    return;
                }
                window.location.href = "/BranchData/Index";
            },
            error: function ()
            {
                closeLoading();
                alertify.alert("Application error. Please try again.");
            }
        });
    });

    $("#btnBack").bind("click", function () {
        openLoading();
        window.location.href = "/BranchData/Index";
    });
</script>