@{
    Layout = "~/Views/Shared/_TeledataTheme.cshtml";
    ViewBag.Title = "Merek Baru";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<button class="k-button k-button-icontext" id="btnBack">
    <span class="k-icon k-i-arrow-w"></span>Kembali
</button>
&nbsp;
<button class="k-button k-button-icontext" id="btnSave">
    <span class="k-icon k-i-tick"></span>Simpan
</button>
<hr />

Nama:<br />
@Html.TextBox("txtName", "", new { @class = "td", style = "width : 320px" })
<br /><br />

Deskripsi:<br />
@Html.TextBox("txtDescription", "", new { @class = "td", style = "width : 320px" })

<script>
    $("#btnSave").bind("click", function () {
        $.ajax({
            url: '@Url.Action("Create")', type: "POST", dataType: "json",
            data: {
                name: document.getElementById('txtName').value,
                description: document.getElementById('txtDescription').value
            },
            success: function (data) {
                if (data.success == false) {
                    alertify.alert(data.message);
                    return;
                }
                window.location.href = "/BrandData/Index";
            },
            error: function () { alertify.alert("Application error. Please try again."); }
        });
    });

    $("#btnBack").bind("click", function () {
        window.location.href = "/BrandData/Index";
    });
</script>